@font-face {
  font-family: 'PressStart2P';
  src: url('../fonts/PressStart2P.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: white;
  color: black;
  font-family: 'PressStart2P'
}

.content-container {
  max-width: 650px;
  margin: 0 auto;
  margin-top: 60px;
}

.content-container img {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.top-bar {
    background-color: rgba(255, 255, 255, 0.5);
    color: #332233;
    padding: 10px 0;
    position: fixed;
    top: 0; /* Position it at the top of the viewport */
    width: 650px;
    z-index: 1000; /* Set a high z-index to ensure it's above other content */
}

a {
  color: #208ed9;
}

pcolor {
  /* font-weight: bold; */
  /* text-decoration: underline; */
  color: #df7126;
}

