code {
  background-color: #EEEEEE;
  color: #df7126;
  border-radius: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

pre {
  background-color: #222244;
  color: #FFFFFF;
  padding-top: 15px;
  border-radius: 10px; /* Optional rounded corners */
  padding-left: 40px;
  padding-right: 40px;
  overflow-x: auto;
}
